* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  max-width: 1440px;
  margin: auto;
  /* changement avec police 'Montserrat' */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}