body {
  margin: 0;
  /* changement avec police 'Montserrat' */
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Style du composant header */
.header {
  max-width: 1240px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.nav a {
  margin-left: 30px;
  font-size: 25px;
  color: #FF6060;
  text-decoration: none;
}

.nav a:focus {
  text-decoration: underline;
}

.logokasa {
  width: 210px;
  height: 70px;
}

@media (max-width: 768px) {
  .header {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
  }
  .nav {
    margin-top: 15px;
  }
  .nav a {
    font-size: 20px;
  }
  .logokasa {
    width: 145px;
    height: 45px;
  }
}
/* Style du composant footer */
.footer {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #FFFFFF;
  height: 210px;
  max-width: 1440px;
}

.rights {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .rights {
    width: 130px;
    font-size: 12px;
  }
}
/* Style du composant Collapse */
.collapse {
  border: 1px solid #F6F6F6;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  pointer-events: none;
  cursor: pointer;
}

.collapse__button {
  background-color: #FF6060;
  padding: 10px;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  border: none;
}

.collapse-title {
  flex: 1;
  pointer-events: none;
  cursor: none;
  color: #FFFFFF;
  font-size: 18px;
}

.collapse__icon {
  font-size: 18px;
  color: #FFFFFF;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  pointer-events: auto;
}

.collapse__icon.down {
  font-size: 18px;
  color: #FFFFFF;
  transform: rotate(180deg);
}

.collapse__content {
  padding: 5px;
  overflow: hidden;
  background-color: #F6F6F6;
}

.collapse__content p {
  margin-left: 10px;
}

.collapse__content-animate {
  animation: slideInOut 2s ease-in-out;
}

@keyframes slideInOut {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}
/* Style du composant Slideshow */
.slideshow-container {
  position: relative;
  background-color: #F6F6F6;
}

.slideshow-slide {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 400px;
}

.slide {
  flex: 0 0 100%;
  opacity: 0;
  width: 100%;
  height: 400px;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slide.active {
  flex: 0 0 100%;
  opacity: 1;
  position: absolute;
}

.slideshow-controls {
  position: absolute;
  align-items: center;
  bottom: 20px;
  left: 0;
  right: 0;
}

.prev {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 70px;
  margin-left: 10px;
  margin-right: 80%;
}

.next {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 70px;
}

.fa-angle-left,
.fa-angle-right {
  color: #FFFFFF;
  font-size: 130px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.slide-number {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

/* Animation pour le changement de diapositives */
@keyframes slideChange {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.slide.active {
  animation: slideChange 1s ease-in-out;
}

@media (max-width: 768px) {
  .slideshow-slide {
    height: 250px;
  }
  .slide {
    flex: 0 0 100%;
    opacity: 0;
    width: 100%;
    height: 250px;
    position: relative;
  }
  .prev {
    margin-right: 285px;
  }
  .fa-angle-left,
  .fa-angle-right {
    font-size: 80px;
    margin-top: 60px;
  }
  .slide-number {
    font-size: 16px;
  }
}
/* Style de la page fichelogement */
.fiche {
  max-width: 1240px;
  margin-left: 100px;
  margin-right: 100px;
}

h2,
h3,
p {
  color: #FF6060;
}

.titre-hote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hote {
  display: flex;
  align-items: center;
}

.hote-mobile {
  display: none;
}

.hote-name {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  font-size: 18px;
  text-align: right;
}

.prenom {
  margin-bottom: -10px;
}

.circle {
  background-color: #C4C4C4;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.tags-stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tag {
  display: inline-flex;
  margin-right: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FF6060;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
}

.star {
  display: flex;
  color: #C4C4C4;
  font-size: 36px;
  margin-left: 20px;
}

.starrose {
  color: #FF6060;
}

.collapses-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.liste-equipements {
  color: #FF6060;
  padding: 5px;
  list-style-type: none;
}

@media (max-width: 768px) {
  .fiche {
    margin-left: 10px;
    margin-right: 10px;
  }
  .hote {
    display: none;
  }
  .hote-mobile {
    display: block;
    display: flex;
    align-items: center;
    margin-top: -40px;
    margin-left: 300px;
  }
  .hote-name {
    font-size: 15px;
  }
  .circle {
    width: 60px;
    height: 60px;
  }
  .tags-stars {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .ligne-tags {
    width: 100%;
    margin-bottom: 10px;
  }
  .tag {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .stars {
    margin-right: 240px;
    width: 50%;
  }
  .star {
    font-size: 30px;
  }
  .collapses-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .collapse-title {
    font-size: 15px;
  }
}
/* Style de la page home */
.banner {
  border-radius: 25px;
  justify-content: center;
  text-align: center;
  max-width: 1240px;
  height: 220px;
  margin-left: 100px;
  margin-right: 100px;
  background-image: url("../../img/banner.png");
  margin-bottom: 20px;
  position: relative;
}

.filtrebanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.slogan {
  font-size: 50px;
  display: inline-block;
  color: #FFFFFF;
  z-index: 2;
  font-weight: bold;
  position: relative;
  margin-top: 70px;
}

.gallery {
  height: 100%;
  max-width: 1240px;
  margin-left: 100px;
  margin-right: 100px;
  background: #F6F6F6;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
}

.img-titre-gallery {
  position: relative;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 20px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.img-gallery {
  flex-basis: calc(33.333% - 20px);
  width: 300px;
  height: 300px;
  border-radius: 10px;
  position: relative;
}

.filtre {
  top: 19px;
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(to bottom, #FFFFFF 0%, #000000 100%);
  opacity: 0.3;
  z-index: 1;
}

.titre {
  color: #FFFFFF;
  font-size: 15px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 30%;
  font-weight: bold;
  z-index: 2;
}

@media (max-width: 768px) {
  .banner {
    border-radius: 10px;
    text-align: left;
    width: 335px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .filtrebanner {
    border-radius: 10px;
  }
  .slogan {
    width: 230px;
    height: 30px;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 15px;
  }
  .gallery {
    margin: 0 auto;
    margin-left: 5%;
    padding: 5px;
    background: #FFFFFF;
  }
  .img-gallery {
    flex-basis: calc(50% - 5px);
    width: 335px;
    height: 255px;
    border-radius: 10px;
  }
  .filtre {
    width: 335px;
    height: 255px;
    position: absolute;
    border-radius: 10px;
    background: linear-gradient(to bottom, #FFFFFF 0%, #000000 100%);
    opacity: 0.4;
    z-index: 1;
  }
  .titre {
    font-size: 15px;
    bottom: 30px;
    left: 30px;
    width: 30%;
  }
}
.bannerapropos {
  width: 1240px;
  height: 220px;
  margin-left: 10px;
  margin-right: auto;
  border-radius: 25px;
  margin-bottom: 20px;
  background-image: url("../../img/banner_apropos.png");
  position: relative;
}
.bannerapropos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  mix-blend-mode: darken;
  border-radius: 25px;
}

.valeurs {
  max-width: 1240px;
  margin-left: 150px;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.valeur {
  list-style-type: none;
  color: #F6F6F6;
  background-color: #FF6060;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 24px;
}

@media (max-width: 768px) {
  .page-apropos {
    margin-left: 40px;
  }
  .bannerapropos {
    width: 335px;
    height: 220px;
    border-radius: 10px;
  }
  .valeurs {
    width: 335px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
  }
  .valeur {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
h1 {
  color: #FF6060;
  text-align: center;
  font-weight: 700;
  font-size: 288px;
  margin-bottom: 30px;
}

.texte_erreur {
  color: #FF6060;
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.lien_accueil {
  color: #FF6060;
  font-size: 18px;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 95px;
    margin-bottom: 60px;
  }
  .texte_erreur {
    font-size: 20px;
    margin-bottom: 60px;
  }
  .lien_accueil {
    font-size: 15px;
    margin-bottom: 60px;
  }
}/*# sourceMappingURL=style.css.map */