$color-rose: #FF6060;

h1 {
    color: $color-rose;
    text-align: center;
    font-weight: 700;
    font-size: 288px;
    margin-bottom: 30px;
}

.texte_erreur {
    color: $color-rose;
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.lien_accueil {
    color: $color-rose;
    font-size: 18px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}