.banner {
  border-radius: 50px;
  justify-content: center;
  max-width: 1240px;
  height: 220px;
  margin-left: 100px;
  margin-right: 100px;
  background-image: url("../../img/banner.png");
  margin-bottom: 20px;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  /* Opacité (noir) */
  mix-blend-mode: darken;
  /* Effet de fusion darken */
  border-radius: 50px;
}

.slogan {
  font-size: 50px;
  margin-left: 25%;
  display: inline-block;
  vertical-align: middle;
  color: #FFFFFF;
  //pour faire ressortir le slogan
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}


.gallery {
  height: 100%;
  max-width: 1240px;
  margin-left: 100px;
  margin-right: 100px;
  background: #F6F6F6;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
}


.img-titre-gallery {
  position: relative;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 20px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  // background-image: url("../../img/location.png");

}


.img-gallery {
  // https://developer.mozilla.org/fr/docs/Web/CSS/gradient/linear-gradient
  /* Largeur des images avec espace*/
  flex-basis: calc(33.333% - 20px);

  width: 300px;
  height: 300px;
  border-radius: 10px;
  // Appliquer un filtre sur les images
  /* Couleur du filtre semi-transparent */
  background: rgba(223, 8, 8, 0.5);
  /* Dégradé de couleur de haut en bas */
  background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(212, 16, 16, 0.7)), url("../../img/location.png");
  //   background-size: cover;
  // background-position: center;
}




.titre {
  color: #FFFFFF;
  font-size: 15px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 30%;
  font-weight: bold;
  /* Pour placer le titre au-dessus du filtre */
  z-index: 1;
  //pour faire ressortir le titre
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

//version responsive
@media (max-width: 768px) {
  .banner {
    width: 335px;
    height: 110px;
    margin: 0 auto;
    /* Marge automatique sur les côtés pour centrer horizontalement */
  }

  .slogan {
    width: 215px;
    font-size: 24px;
    margin-left: 5%;
  }

  .gallery {
    margin: 0 auto;
    margin-left: 5%;
    padding: 5px;
  }

  .img-gallery {
    flex-basis: calc(50% - 5px);
    /* Ajuster la largeur des images */
    width: 335px;
    height: 255px;
  }

  .titre {
    font-size: 15px;
    bottom: 30px;
    left: 30px;
    width: 30%;
  }
}