/* Style de la page home */

// Variables
$color-rose: #FF6060;
$color-white: #FFFFFF;
$color-grey: #F6F6F6;
$color-black: #000000;



.banner {
  border-radius: 25px;
  justify-content: center;
  text-align: center;
  max-width: 1240px;
  height: 220px;
  margin-left: 100px;
  margin-right: 100px;
  background-image: url("../../img/banner.png");
  margin-bottom: 20px;
  position: relative;
}

.filtrebanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.slogan {
  font-size: 50px;
  display: inline-block;
  color: $color-white;
  z-index: 2;
  font-weight: bold;
  position: relative;
  margin-top: 70px;
}


.gallery {
  height: 100%;
  max-width: 1240px;
  margin-left: 100px;
  margin-right: 100px;
  background: $color-grey;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
}


.img-titre-gallery {
  position: relative;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 20px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.img-gallery {
  flex-basis: calc(33.333% - 20px);
  width: 300px;
  height: 300px;
  border-radius: 10px;
  position: relative;
}

.filtre {
  top: 19px;
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(to bottom, $color-white 0%, $color-black 100%);
  opacity: 0.3;
  z-index: 1;
}


.titre {
  color: $color-white;
  font-size: 15px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 30%;
  font-weight: bold;
  z-index: 2;
}

//version responsive
@media (max-width: 768px) {
  .banner {
    border-radius: 10px;
    text-align: left;
    width: 335px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .filtrebanner {
    border-radius: 10px;
  }

  .slogan {
    width: 230px;
    height: 30px;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 15px;
  }



  .gallery {
    margin: 0 auto;
    margin-left: 5%;
    padding: 5px;
    background: $color-white;

  }

  .img-gallery {
    flex-basis: calc(50% - 5px);
    width: 335px;
    height: 255px;
    border-radius: 10px;

  }

  .filtre {
    width: 335px;
    height: 255px;
    position: absolute;
    border-radius: 10px;
    background: linear-gradient(to bottom, $color-white 0%, $color-black 100%);
    opacity: 0.4;
    z-index: 1;
  }

  .titre {
    font-size: 15px;
    bottom: 30px;
    left: 30px;
    width: 30%;
  }
}