/* Style de la page fichelogement */

// Variables
$color-rose: #FF6060;
$color-white: #FFFFFF;
$color-grey: #F6F6F6;
$color-black: #000000;
$color-greydark: #C4C4C4;



.fiche {
  max-width: 1240px;
  margin-left: 100px;
  margin-right: 100px;
}

h2,
h3,
p {
  color: $color-rose;
}

.titre-hote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hote {
  display: flex;
  align-items: center;
}

.hote-mobile {
  display: none;
}

.hote-name {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  font-size: 18px;
  text-align: right;

}

.prenom {
  margin-bottom: -10px;
}


.circle {
  background-color: $color-greydark;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


.tags-stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}



.tag {
  display: inline-flex;
  margin-right: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: $color-rose;
  color: $color-white;
  font-size: 14px;
  text-align: center;
}




.star {
  display: flex;
  color: $color-greydark;
  font-size: 36px;
  margin-left: 20px;
}


.starrose {
  color: $color-rose;
}


.collapses-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


.liste-equipements {
  color: $color-rose;
  padding: 5px;
  list-style-type: none;
}

//version responsive
@media (max-width: 768px) {
  .fiche {
    margin-left: 10px;
    margin-right: 10px;
  }

  .hote {
    display: none;
  }

  .hote-mobile {
    display: block;
    display: flex;
    align-items: center;
    margin-top: -40px;
    margin-left: 300px;
  }

  .hote-name {
    font-size: 15px;
  }

  .circle {
    width: 60px;
    height: 60px;
  }

  .tags-stars {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


  .ligne-tags {
    width: 100%;
    margin-bottom: 10px;
  }

  .tag {
    font-size: 12px;
    margin-bottom: 10px;
  }


  .stars {
    margin-right: 240px;
    width: 50%;

  }

  .star {
    font-size: 30px;
  }


  .collapses-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;

  }

  .collapse-title {
    font-size: 15px;
  }

}