/* Style du composant footer */

// Variables
$color-rose: #FF6060;
$color-white: #FFFFFF;
$color-grey: #F6F6F6;
$color-black: #000000;



.footer {
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: $color-white;
  height: 210px;
  max-width: 1440px;
}

.rights {
  margin-top: 20px;
}

//version responsive
@media (max-width: 768px) {

  .footer {
    width:100%;
  }

  .rights {
    width: 130px;
    font-size: 12px;
  }
}