/* Style du composant header */

// Variables
$color-rose: #FF6060;
$color-white: #FFFFFF;
$color-grey: #F6F6F6;
$color-black: #000000;



.header {
  max-width: 1240px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 70px;
  display: flex;
  justify-content: space-between;

}

.nav a {
  margin-left: 30px;
  font-size: 25px;
  color: $color-rose;
  text-decoration: none;
}

.nav a:focus {
  text-decoration: underline;
}

.logokasa {
  width: 210px;
  height: 70px;
}

//version responsive

@media (max-width: 768px) {
  .header {
    margin: auto;
    // margin-left: 10px;
    // margin-right: 10px;
    // justify-content: space-between;
  }

  .nav {
    margin-top: 5px;
    margin-left: 5px;
  }

  .nav a {
    font-size: 15px;
  }

  .logokasa {
    margin-top:5px;
    width: 100px;
    height: 30px;
  }
}